{{#with model}}
	<header>
		<div class="section-wrapper fx-fade-in">
			<div class="header-action-wrapper">
				{{#link-to "index" class="header-action-icon header-action-back"}}{{/link-to}}
			</div>
			<div class="header-title-wrapper">
				<h1 class="header-title">
					{{name}}
				</h1>
			</div>
			<div class="header-button-wrapper">
				<a {{action "add" name}} class="action-button action-button-add fx-animate-in"></a>
			</div>
		</div>
	</header>
	<main class="card-area">
		<div class="cover-image"></div>
		<div class="section-wrapper">
			{{#if colors.length}}
				{{#each colors}}
					<div {{bind-attr class=":card-item :fx-slide-in isLoved:card-item-loved" data-palette=palette data-color=color}}>
						{{#link-to "details" (query-params color=color)}}
							<div class="card-item-color-item-large" {{bind-attr style=cssStr}}></div>
						{{/link-to}}
						<div class="card-item-segment">
							<div class="card-item-text">{{color}}</div>
							<div class="card-item-actions">
								<div {{action "remove" palette color}} class="card-item-action card-item-action-remove"></div>
							</div>
						</div>
					</div>
				{{/each}}
			{{else}}
				<div class="empty-area">
					{{#link-to "picker" (query-params palette=name from="colors") class="empty-area-action"}}
						Tap to add color.
					{{/link-to}}
				</div>
			{{/if}}
		</div>
	</main>
{{/with}}
