<header>
	<div class="section-wrapper">
		<div class="header-title-wrapper fx-fade-in">
			<h1 class="header-title">
				Croma
			</h1>
		</div>
		<div class="header-button-wrapper">
			{{#link-to "palette.new" class="action-button action-button-add fx-scale-in"}}
				<span class="action-button-content fx-ripple"></span>
			{{/link-to}}
		</div>
	</div>
</header>
<main class="content-area card-area">
	<div class="cover-image"></div>
	<div class="section-wrapper">
		{{#if model.length}}
			{{#each model}}
				{{#with this}}
					<div {{bind-attr class=":card-item :fx-animate-in :fx-ripple isLoved:card-item-loved" data-palette=name}}>
						{{#link-to "colors" (query-params palette=name saveas=name) class="card-item-color-list"}}
							{{#each colors}}
								<div class="card-item-color-list-item" {{bind-attr style=this}}></div>
							{{/each}}
						{{/link-to}}
						<div class="card-item-segment">
							<div class="card-item-text">{{name}}</div>
							<div class="card-item-actions">
								<div {{action "share" name}} class="card-item-action card-item-action-share"></div>
								<div {{action "remove" name}} class="card-item-action card-item-action-remove"></div>
							</div>
						</div>
					</div>
				{{/with}}
			{{/each}}
		{{else}}
			<div class="empty-area">
				{{#link-to "palette.new" class="empty-area-action fx-ripple"}}
					Tap to add palette.
				{{/link-to}}
			</div>
		{{/if}}
	</div>
</main>
