{{#with model}}
    <header>
        <div class="section-wrapper fx-fade-in">
            <div class="header-action-wrapper">
                <a {{action "goBack"}} class="header-action-icon header-action-back fx-ripple"></a>
            </div>
            <div class="header-title-wrapper">
                <h1 class="header-title">
                    Colors
                </h1>
            </div>
        </div>
    </header>
    <main class="content-area card-area">
        <div class="section-wrapper">
            <div class="card-item fx-animate-in">
                {{#each palettes}}
                    {{#with this}}
                        <div class="card-item-color-item" {{bind-attr style=cssStr}}>
                            {{value}}
                        </div>
                    {{/with}}
                {{/each}}
            </div>

            <div class="paper-button-container fx-animate-in">
                <a {{action "save" palettes "save"}} class="paper-button paper-button-block fx-ripple">
                    Save as new palette
                </a>
            </div>

            {{#if addTo}}
            <div class="paper-button-container fx-animate-in">
                <a {{action "save" palettes "add"}} class="paper-button paper-button-block fx-ripple">
                    Add to existing palette
                </a>
            </div>
            {{/if}}
        </div>
    </main>
{{/with}}
